@media (max-width: 1024px) {

.container {
    padding: 0 50px;
}

.header {
    margin-bottom: 40px;
}

.header__container {
    align-items: center;
}

.header__container:last-child {
    margin-left: -10px;
    margin-right: 1px;
}

.hlogo {
    width: 150px;
    height: 48px;
}

.nav {
    display: none;
}

.hero {
    margin-bottom: 35px;
}

.hero__content {
    padding-left: 77px;
}

.hero-container {
    background-image: url(../img/hero-1024.jpeg);
}

.hero__title {
    padding-top: 57px;
    line-height: 73px;
    font-size: 60px;
    margin-bottom: 17px;
}

.hero__descr {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 62px;
}

.hero__btn {
    margin-bottom: 61px;
}

.about__title {
    padding-left: 0px;
}

.about__descr {
    margin-bottom: 59px;
}

.about__content {
    flex-direction: column;
}

.about__content-left {
    width: 100%;
    min-height: 640px;
    margin-bottom: 33px;
}

.about__content-right {
    width: 100%;
}

.about__content-right-card {
    padding: 60px 74px 63px 77px;
}

.about {
    margin-bottom: 80px;
}

.work__title {
    margin-bottom: 49px;
}

.work__item:not(:last-child) {
    margin-right: 83px;
}

.work__list {
    margin-bottom: 49px;
}

.work__content-right {
    background-image: url(../img/work-1024.jpeg);
    height: 689px;
    margin-top: 12px;
}

.work__content-left {
    margin-right: 50px;
}

.work__content-descr {
    margin-bottom: 25px;
}

.work {
    margin-bottom: 80px;
}

.question__item-title {
    font-size: 20px;
}

.question__item-top {
    padding: 27px 0 38px 0;
}

.question {
    margin-bottom: 67px;
}

.footer__content {
    padding: 50px 50px;
}

.footer__left {
    margin-right: 117px;
    padding-right: 0;
}

.footer__right {
    display: none;
}

.footer__form-all {
    width: 541px;
}

.footer__form {
    align-items: baseline;
}

.footer__form-btn {
    padding: 19px 37px;
    margin-left: 151px;
    width: 240px;
}

.burger {
    position: relative;
    width: 40px;
    height: 33px;
    border: 1px solid inherit;
    margin-left: 5px;
}

.burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--black-color);
    transform: translateX(-50%);
}

.burger:hover {
    border: 1px solid var(--orange-color);
}

.burger:active {
    background-color: var(--dark_orange);
}

.burger__line:nth-child(1)  {
    top: 5px;
}

.burger__line:nth-child(3)  {
    bottom: 5px;
}

.burger__line:nth-child(2)  {
    transform: translateX(-50%) translateY(-50%);
}
}

@media (max-width: 768px) {
    /* header */
    .header {
    margin-top: -16px;
    margin-left: -2px;
    margin-bottom: 24px;
    }
    /* hero */
.hero__content {
    padding-left: 41px;
    padding-right: 21px;
    }

.hero__title {
    font-size: 50px;
    line-height: 63px;

    }
    
.hero__descr {
    line-height: 22px;
    margin-bottom: 60px;
    }
    
.hero-container {
    background-image: url(/img/hero-768.jpeg);
}

/* about */

.about {
    margin-bottom: -40px;
}

.about__descr {
    font-size: 18px;
    line-height: 31px;
    margin-bottom: 65px;
}

.about__content-left {
    min-height: 650px;
    border-radius: 25px;
}

.about__content-wrap {
    padding: 39px;
}

.about__content-right-card {
    height: 233px;
    padding: 116px 74px 121px 40px;
    min-height: 233px;
}

.about__img {
    max-width: 114px;
    height: 99px;
    margin-right: 17px;
}

.about__content-right {
    justify-content: unset;
}

/* work */

.work__item:not(:last-child) {
    margin-right: 152px;
}

.work__list {
    margin-bottom: 37px;
}

.work__content-wrapper  {
    flex-direction: column-reverse;
}

.work__content-right {
    background-image: url(/img/work-768.jpeg);
    background-repeat: no-repeat;
    height: 323px;
    min-height: 323px;
}

.work__content-descr {
    margin-bottom: 55px;
}

.work {
    margin-bottom: 51px;
}

/* question */ 

.question__title {
    width: 500px;
}

.question {
    margin-bottom: 97px;
}

/* footer */

.footer__nav-item {
    display: none;
}

.footer__left {
    margin-right: 0;
}

.footer__content {
    flex-direction: column-reverse;
    height: 792px;
    padding: 50px 0px 47px 50px;
}

.footer__nav-list {
    display: none;
}

.footer__logo-img {
    margin-bottom: 13px;
}
}

@media (max-width: 320px)  {

.container {
    padding: 0 15px;
}

.burger {
    margin-left: 7px;
}

.hlogo {
    width: 110px;
    height: 35px;
}

.header__container {
    height: 85px;
    padding-top: 13px;
}

.header {
    margin-bottom: 30px;
}

.hero__descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 33px;
    text-align: center;
}

.hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    text-align: center;
}

.hero__btn {
    font-size: 12px;
    width: 162px;
    height: 41px;
    margin-left: 34px;
    border-radius: 8px;
}

.hero-container {
    background-image: url(/img/hero-320.jpeg);
    border-radius: 16px;
}

.hero__content {
    padding: 3px 36px 4px 30px;
}

.about__title {
    font-size: 24px;
    line-height: 29px;
}

.hero {
    margin-bottom: 55px;
}

.about__descr {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 13px;
}

.about__content-left {
    min-height: 200px;
    background-image: url(/img/about-320.jpeg);
    border-radius: 16px;
    padding-top: 167px;
    background-size: contain;
    background-position: top center;
}

.about__button {
    color: var(--orange-color);
    min-width: 162px;
    min-height: 39px;
    margin-top: 9px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 15px;
}

.about__left-descr {
    color: var(--black-color);
    font-size: 13px;
    line-height: 29px;
}

.about__content-wrap {
    background: 0;
    display: block;
    padding-top: 39px;
    padding-left: 0;
}

.about__content-right-card {
    outline: none;
}

.about__right-title {
    font-size: 18px;
    line-height: 22px;
}

.about__right-descr {
    font-size: 14px;
    line-height: 28px;
}

.about__img--bottom {
    background-image: url(/img/320-bottom.svg);
}

.about__img--top {
    background-image: url(/img/320-top.svg);
}

.hero,
.work,
.question,
.footer {
    display: none;
}
}